image:
- Visual Studio 2017
#- Ubuntu1804

clone_depth: 5

platform:
  - x64
  
init:
  - set PATH=C:\Qt\5.12.6\msvc2017_64\bin;%PATH%
  - call "C:\Program Files (x86)\Microsoft Visual Studio\2017\Community\VC\Auxiliary\Build\vcvars64.bat"

version: '{build}'

configuration:
  - Release
  #- Debug

install:
  - cinst graphviz

build_script:
  - qmake mobata.pro
  - nmake

test_script:
  - SET PATH='C:\Program Files (x86)\Graphviz2.38\bin';%PATH%
  - nmake check